.review-card{
    width: 340px;
    height: 320px;
    margin-top: 20px;
    margin-left: 60px;
    border-radius: 10px;
    padding: 5px 10px;
    border-top: 3px solid #8C8F91;
    margin: auto;
    margin-bottom: 20px;
    box-shadow:rgba(228, 230, 233, 0.15) 0px 0px 0px 1px;
}
.review-card img{
    border-radius: 50%;
    width: 100px;
    padding: 10px;
    border: 1px solid #8C8F91;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(231, 223, 223, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.card-reviewer {
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    color: #8C8F91;
}
.card-reviewer small{
    color: #8C8F91;
}
.rating{
    text-align: center;
    line-height: 0;
    font-size: 0.8em;
    color: #8C8F91;
    font-family: 'Roboto', sans-serif;
}
.Quote-start{
    display: flex;
    justify-content: center;
    line-height: 0.1;
    font-size: 2em;
    color: #8C8F91;
    padding-top: 5px;
    margin-bottom: 5px;
    
}
.review-detail{
    line-height: 1;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #8C8F91;
}