.menu-links a{
    text-decoration: none;
    color: black;
    padding: 0 15px;
    padding-bottom: 23px;
    font-family: 'Space Mono', monospace;
    font-size: 1.1em;
    color: rgb(71, 70, 70);
}
.menu-links a:hover{
    color: black;
}